header{
    margin: 20px;
    text-align: center;
}

footer{
    margin: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    width: 200px;
    height: 54px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button {
    background-color: #333;
    color: #fff;
}
.button:hover {
    background-color: #59b1eb;
}

#balanceChartHolder{
    margin: auto;
    width: 80%;
    height: 80%;
}

body {
    text-align: center;
}
